{% extends '_templates/base.njk' %}

{% block page_title %}Austin Mayoral Candidates{% endblock %}

{% block page_description %}This website will teach you about the candidates running to be Austin's next mayor.{% endblock %}

{% block content %}
<div class="container">
  <h1>Austin Mayoral Candidates</h1>
  <p>This site will teach you about the candidates running to be Austin's next mayor. These candidates will run in a runoff on December 6.</p>
  <h2>Meet the candidates:</h2>
  <p>Click on a candidate's name to learn more about them and their platform.</p>
  <div class="row">
    {% for candidate in directory.candidates %}
      <div class="col-md-6">
        <img src="img/{{ candidate.slug }}.jpg" alt="{{ candidate.image_alt }}" class="img-fluid">
        <h3><a href="candidates/{{ candidate.slug }}.html">{{ candidate.name }}</a></h3>
      </div>
    {% endfor %}
{% endblock %}