// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

/* bootstrap */
// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins"; 

// Import partials
@import "nav";
body {
  background-color: #e6e6ff;
  font-family: Arial, Helvetica, sans-serif
}

h1 {
  font-size: 40px;
  color: #000099
}

h2 {
  color:#000033;
  font-size: 24px;
}

p {
  color: #000033;
  font-size: 20px;
}

h3 {
  font-size: 1.5rem;
}

.bg-custom {
  background-color: #000033;
}
